<div id="aboutCon">
	<div id="aboutButtonRow">
		<button id="what" ng-click="slideToggle = 1">
			<div class="infoText" ng-show="slideToggle == 1">
			<h3>What Is Easy Eats?</h3>
			<p><span class="firstWord">Easy Eats</span> is a food finding app, where I take your entered budget along with your location &amp; I give you results of restaurants in your area. Those restaurants will match your budget and ONLY show you food in which you can afford.</p>
			</div>
		</button>

		<div class="mobileText" ng-show="slideToggle == 1">
			<h3>What Is Easy Eats?</h3>
			<p>Easy Eats is a food finding app, where I take your entered budget along with your location &amp; I give you results of restaurants in your area. Those restaurants will match your budget and ONLY show you food in which you can afford.</p>
		</div>

		<button id="how" ng-click="slideToggle = 2">
			<div class="infoText" ng-show="slideToggle == 2">
			<h3>How It Works?</h3>
			<p><span class="firstWord">Example:</span> If you've entered $10.00, Easy Eats will only show you results where you CAN afford to eat. It's quick, &amp; it's personal. Easy Eats has a 'Cravings' option where you can choose to filter your searches with finer results.</p>
			</div>
		</button>

		<div class="mobileText" ng-show="slideToggle == 2">
			<h3>How It Works?</h3>
			<p>Example: If you've entered $10.00, Easy Eats will only show you results where you CAN afford to eat. It's quick, &amp; it's personal. Easy Eats has a 'Cravings' option where you can choose to filter your searches with finer results.</p>
		</div>

		<button id="where" ng-click="slideToggle = 3">
			<div class="infoText" ng-show="slideToggle == 3">
			<h3>Where To Find It?</h3>
			<p><span class="firstWord">Easy Eats</span> is a responsive website. From mobile to desktop, no matter where you may be, Easy Eats will always be at your finger tips. Always there to keep the user happy.</p>
			</div>
		</button>

		<div class="mobileText" ng-show="slideToggle == 3">
			<h3>Where To Find It?</h3>
			<p>Easy Eats is a responsive website. From mobile to desktop, no matter where you may be, Easy Eats will always be at your finger tips. Always there to keep the user happy.</p>
		</div>
	</div>
</div>