<div class="containers" id="aboutCon">
	<h1>About</h1>
	<p><span class="firstWord">Easy Eats</span> is a food finding app, where I take your entered budget along with your location &amp; I give you results of restaurants in your area. Those restaurants will match your budget and ONLY show you food in which you can afford.</p>
	<p><span class="firstWord">Example:</span> If you've entered $10.00, Easy Eats will only show you results where you CAN afford to eat. It's quick, &amp; it's personal. Easy Eats has a 'Cravings' option where you can choose to filter your searches with finer results. You're hungry for a sub, Easy Eats will show you where to get a delicious sub.</p>
	<p><span class="firstWord">Easy Eats</span> is a responsive website. From mobile to desktop, no matter where you may be, Easy Eats will always be at your finger tips.</p>
</div>