<div id="devCon" data-ng-repeat="coder in coders">
	<h2 class="hidden">Developer</h2>
<h1>{{coder.Title}}</h1>
	<div id="selfHolder">
		<div id="myDiv" ng-click="myList()">
			<img data-ng-src="{{coder.Photo}}" alt="Michel Beaubien - ME"/>
			<h3>{{coder.Name}}</h3>
		</div>
		<div id="myInfo">
			<div class="left myInfos">
				<span>City</span>
				<p>{{coder.City}}</p>
			</div>
			<div class="right myInfos">
				<span>Email</span>
				<p>{{coder.Email}}</p>
			</div>
			<div class="left myInfos">
				<span>Education</span>
				<p>{{coder.Education}}</p>
			</div>
			<div class="right myInfos">
				<span>Website</span>
				<a ng-href="{{coder.Url}}" target="onblank">{{coder.Website}}</a>
			</div>
		</div>
	</div>
	<div id="foldOut">
		<ul id="jobPlans">
		<li ng-repeat="job in coder.Jobs" class="myLists">
			<div class="NUM"><h3>{{job.Num}}</h3></div>
			<object data="{{job.SVG}}">
            	<img data-ng-src="{{job.PNG}}" alt="{{job.Plan}}"/>
            </object>
            <p>{{job.Plan}}</p>
		</li>
	</ul>
	<div id="finalDiv">
	<p>EASY EATS is a responsive website. From mobile to desktop, no matter where you may be, Easy Eats will <span class="yellow">ALWAYS</span> be at your finger tips.</p>
		<object id="responsiveImg" data="{{coder.responsiveSVG}}">
			<img data-ng-src="{{coder.responsivePNG}}" alt="Responsive Design / Develope"/>
		</object>
	</div>
	</div>
</div>